body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

#container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Chat Message Styling */
.messageContainer {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 10px;
    padding: 8px 12px;
    border-radius: 12px;
    font-size: 14px;
    word-wrap: break-word;
}

.messageContainer2 {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 10px;
    padding: 8px 12px;
    border-radius: 12px;
    font-size: 14px;
    word-wrap: break-word;
}
/* Received Messages */
.received {
    align-self: flex-start;
    background-color: #007aff;
    color: white;
    border-top-left-radius: 0;
}

/* Sent Messages */
.sent {
    align-self: flex-end;
    background-color: #68d15e;
    color: 333;
    border-top-right-radius: 0;
}

/* Timestamp */
.messageDate {
    font-size: 12px;
    margin-bottom: 5px; /* Adjust to create spacing below */
    text-align: right;
    display: block; /* Ensures it takes full width */
}

.address {
    margin-top: -20px;
}

.contactName {
    margin-bottom: 15px;
}

/* Dark mode styles */
.dark-mode {
    background-color: #2e2e2e;  /* Dark background */
}
